@import "~bootstrap/scss/bootstrap";
#stock{
  width: 100% !important;
}

.zero-padding-left{
  padding-left: 0 !important;
}
.zero-padding-rigth{
  padding-right: 0 !important;
}

#edit-registration-user{
  width: 80%;
}
